body
  background: #ffaaaa


.box
  background-color: #219161
  width: 100px
  height: 130px
  //transform: translate3d(70px,50px,0px) rotate(40deg)
  cursor: move
  touch-action: none
  -webkit-user-select: none
  z-index: 1002
  margin: 2px

.box.active
  border: 2px solid black
  margin: 0px
